<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>seadas-app</symbolicName>
    <version>7.3</version>
    <name>SeaDAS Application</name>

    <description>
        A desktop application used to open, browse, visualise,
        analyse and manipulate data products of a number of EO sensors.
    </description>


    <extension point="beam-ui:applicationDescriptors">
        <applicationDescriptor>
            <applicationId>SeaDAS</applicationId>
            <displayName>SeaDAS</displayName>
            <version>7.3</version>
            <buildId>2015.11.25</buildId>
            <buildDate>November 2015</buildDate>
            <!--<buildId>${beam.build.id}</buildId>-->
            <!--<buildDate>${beam.build.date}</buildDate>-->
            <excludedActions>
                <!-- place action IDs here you wish to exclude from your application -->
                <!-- e.g. <id>helpTopics</id> -->
                <!--<id>helpTopics</id>-->
                <!--<id>showHomePage</id>-->
                <!--<id>showDataSources</id>-->
                <!--<id>about</id>-->
            </excludedActions>
            <excludedToolViews>
                <!-- place tool view IDs here you wish to exclude from your application -->
                <!-- e.g. <id>org.esa.beam.visat.toolviews.lm.LayersToolView</id> -->
            </excludedToolViews>
        </applicationDescriptor>
    </extension>

    <changelog>
        <![CDATA[
        <p>Changes in 7.2:<br/>
        [New/Updated Features] <br />
        Band Filters Added <br />
          - Low-Pass Radial Attenuation <br />
          - Circular Mean <br />
          - Straylight <br />
        Bathymetry <br />
          - Bathymetry values are now 'true depth' accounting for local water surface height instead of being relative to sea level <br />
          - Bathymetry values are now in positive units. <br />
          - Default bathymetry color scheme is in log space to better depict shallow water floor features. <br />
        Color Palettes Added/Revised <br />
          - Bathymetry color palette revised with a smoother transition from light blue-green to dark blue-green. <br />
          - Various gradient palettes added. <br />
          - Default (oceancolor_standard.cpd) revised to not use black at high saturation. <br />
        Color Schemes: <br />
          - Added a user-defined data file for generating custom schemes and/or overriding default schemes. <br />
          - Added a user-defined data file for customizing the scheme selector <br />
          - Added a wildcard feature to enable more generic auto-application of color schemes. <br />
        Contour Lines <br />
          - Many subtle improvements to make it more user-friendly. <br />
        Truecolor Profiles Added <br />
        [SeaDAS Processing GUI] <br />
        Included Landsat8/OLI in the install/update GUI</p>
        <p>Changes in 7.1:<br/>
        [New Features] <br />
        Reorganized toolbars, menu items and the default UI layout  <br />
        Redesigned user interface icons <br />
        Added Bathymetry and mask tool <br />
        Added Contour tool <br />
        Graticule tool is improved significantly:  <br />
         - Users can control label location, label angle, line spacing, 
            font size, tick-marks, border, widths, colors, and transparency 
          - Default behavior produces an auto-spaced grid  <br />
          Color-Bar tool is improved: <br />
           - Users can control number of tick-marks, decimal places, font size, 
             manually entered points, scaling factor, color-bar sizing and
             transparency <br />
           - Color bar can now be added as a layer on top of the image <br />
           - Default behavior produces a color-bar with reasonable values <br />
          Major revision to Color Palette Tool: <br />
           - Color scheme selector enables easy selection of product specific 
             and custom schemes. <br />
           - Saves and stores selected scheme and palette name. <br />
          Changed wording of ‘Product’ to ‘File’ to avoid confusion. <br />
          Changed the default background and no-data colors. <br />
          Geometries are now selectable and movable. <br />
          Geometries can now be defined with entered coordinates. <br />
        [Bug Fixes] <br />
         - Fixed reported bugs from SeaDAS 7.0.2 <br />
         - Fixed issues with log scaling in Color Palette and Color-bar <br />
         - Fixed issues related to vector layer <br />
         - Fixed issues with coastline DIMAP saving <br />
         - Fixed issues with multi-processor <br />
         - Fixed issues with SeaDAS help <br />
        <p>Changes in 7.0.2:<br/>
        [Product Readers]
        Added a GOCI L1B specific reader with geolocation
        Updated MODIS L1B reader to include tie-point array data sets
        [SeaDAS Processing GUI]
        Included GOCI in the install/update GUI</p>
        <p>Changes in 7.0.1:<br/>
        [Product Readers]<br/>
        Improved flagging of invalid geolocation<br/>
        CZCS - corrected issues with geolocation<br/>
        HICO - corrected issues with loading several geometry fields<br/>
             - corrected reading of flag array<br/>

        [Processing code]<br/>
        GOCI support<br/>
        Fixed several issues with reading VIIRS L1<br/>
        Added support for compression with netCDF output<br/>
        Added healpix binning option<br/>
        Set NAVWARN for MODIS scans more than 1 degree off nominal pointing<br/>
        Modified l1info to better handle uncertain navigation<br/>
        removed products: logchl, chl_clark, tsm_clark<br/>
        modified l2gen product definition model to use external XML file<br/>
        updated several third-party libraries<br/>
        numerous changes to eliminate compiler warnings and resolve minor bugs<br/>

        [SeaDAS Processing GUI]<br/>
        Improved input file selection performance<br/>
        Improved multi-processors implementation (back-end code and GUI)<br/>
        l2bin:<br/>
            added ability to specify a product suite<br/>
            enhanced the selection of the flaguse parameter values<br/>
                flaguse values are correlated to suite selection, outfile<br/>
                name reflects selected product, suite, resolution, and<br/>
                product type<br/>
        ocssw installer - added hico mission data installation<br/>
        extractor GUI - eliminated lon/lat to pixel translation button. Once<br/>
            all lon/lat values are entered, pixel values are automatically<br/>
            computed<br/>
        modis_L1A, modis_GEO, modis_L1B GUIs - eliminated "verbose" flag from<br/>
            the GUI<br/>
        l2mapgen, l2brsgen, smigen GUI - displays available products based on<br/>
            the input file<br/></p>
        <p>Changes in 7.0:<br/>
          [SEADAS-0] Adding a new SeaDAS app into beam<br/>
        </p>
        ]]>
    </changelog>

    <vendor>NASA Ocean Biology Processing Group</vendor>
    <contactAddress>NASA GSFC, Code 616</contactAddress>
    <copyright>(C) 2012 United States Government as represented by the Administrator of the National Aeronautics and Space Administration.</copyright>
    <url>http://oceancolor.gsfc.nasa.gov/seadas</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>

    <!--<dependency>-->
        <!--<module>beam-help</module>-->
        <!--<optional>true</optional>-->
    <!--</dependency>-->


    <categories>System,Application,VISAT,SeaDAS</categories>

    <extension point="ceres-core:applications">
        <application id="SeaDAS" class="gov.nasa.gsfc.seadas.SeadasMain"/>
    </extension>

    <!--<extension point="beam-ui:actions">-->

        <!--<action>-->
            <!--<id>showObpgHomePage</id>-->
            <!--<parent>help</parent>-->
            <!--<class>gov.nasa..seadas.actions.ShowObpgHomePageAction</class>-->
            <!--<text>SeaDAS Home Page</text>-->
            <!--<description>Opens the SeaDAS home page.</description>-->
            <!--<placeAfter>helpTopics</placeAfter>-->
        <!--</action>-->

    <!--</extension>-->

</module>
