<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>seadas-sandbox</symbolicName>
    <version>7.0</version>

    <name>SeaDAS Sandbox</name>

    <description>
        SeaDAS sandbox module, which is used to explore and test various BEAM extension points.
        This is not a production module.
    </description>

    <vendor>NASA Ocean Biology Processing Group</vendor>
    <contactAddress>NASA GSFC, Code 614.2</contactAddress>
    <copyright>(c) copyright - Not sure??</copyright>
    <url>http://oceancolor.gsfc.nasa.gov/seadas</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>seadas-app</module>
    </dependency>

    <categories>System</categories>

    <extension point="ceres-core:adapters">
        <adapter>
            <extensibleType>org.esa.beam.framework.datamodel.VectorDataNode</extensibleType>
            <extensionFactory>gov.nasa.obpg.seadas.sandbox.layer.VectorDataNodeToTextLayerTypeAdapter</extensionFactory>
        </adapter>
    </extension>

    <extension point="beam-ui:layerEditors">
        <layerEditor>
            <layerType>gov.nasa.obpg.seadas.sandbox.layer.TextLayer</layerType>
            <editor>gov.nasa.obpg.seadas.sandbox.layer.TextLayerEditor</editor>
        </layerEditor>
    </extension>

      <extension point="beam-ui:toolViews">

        <toolView>
            <id>gov.nasa.obpg.seadas.sandbox.toolwindow.AudioPlayerToolView</id>
            <class>gov.nasa.obpg.seadas.sandbox.toolwindow.AudioPlayerToolView</class>
            <title>Audio Player</title>
            <tabTitle>Audio Player</tabTitle>
            <!--<mnemonic>P</mnemonic>-->
            <!--<accelerator>ctrl alt P</accelerator>-->
            <!--<smallIcon>/org/esa/beam/resources/images/icons/RsProduct16.gif</smallIcon>-->
            <!--<largeIcon>/org/esa/beam/resources/images/icons/RsProduct24.gif</largeIcon>-->
            <!--<helpId>productBrowser</helpId>-->
            <description>Produce audio noise for selected pixel.</description>
            <initState>DOCKED</initState>
            <initSide>WEST</initSide>
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>gov.nasa.obpg.seadas.sandbox.toolwindow.PixelTrackerToolView</id>
            <class>gov.nasa.obpg.seadas.sandbox.toolwindow.PixelTrackerToolView</class>
            <title>Pixel Info</title>
            <tabTitle>Pixel Info</tabTitle>
            <!--<mnemonic>P</mnemonic>-->
            <!--<accelerator>ctrl alt P</accelerator>-->
            <!--<smallIcon>/org/esa/beam/resources/images/icons/RsProduct16.gif</smallIcon>-->
            <!--<largeIcon>/org/esa/beam/resources/images/icons/RsProduct24.gif</largeIcon>-->
            <!--<helpId>productBrowser</helpId>-->
            <description>example for pixel tracker</description>
            <initState>DOCKED</initState>
            <initSide>WEST</initSide>
            <initIndex>0</initIndex>
        </toolView>



          <toolView>
              <id>gov.nasa.obpg.seadas.sandbox.toolwindow.TabbedPaneWithPanelsToolView</id>
              <class>gov.nasa.obpg.seadas.sandbox.toolwindow.TabbedPaneWithPanelsToolView</class>
              <title>Tabbed Pane with Panels</title>
              <tabTitle>Tabbed Pane with Panels</tabTitle>
              <!--<mnemonic>P</mnemonic>-->
              <!--<accelerator>ctrl alt P</accelerator>-->
              <!--<smallIcon>/org/esa/beam/resources/images/icons/RsProduct16.gif</smallIcon>-->
              <!--<largeIcon>/org/esa/beam/resources/images/icons/RsProduct24.gif</largeIcon>-->
              <!--<helpId>productBrowser</helpId>-->
              <description>example for tabs</description>
              <initState>DOCKED</initState>
              <initSide>WEST</initSide>
              <initIndex>0</initIndex>
          </toolView>


     </extension>

</module>
