<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>seadas-ocsswws</symbolicName>
    <version>1.0</version>
    <name>OCSSW Web Services</name>

    <description>Provedes OCSSW Processors as Web Services</description>

    <packaging>dir</packaging>

    <vendor>NASA Goddard OBPG</vendor>
    <contactAddress>
        8800 Greenbelt Road, Greenbelt, MD 20771, USA
    </contactAddress>
    <copyright>(C) 2013 by NASA Goddard OBPG</copyright>
    <url>http://seadas.gsfc.nasa.gov</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>
    <categories>Application, Processor</categories>
    <dependencies>
        <dependency>

        </dependency>
    </dependencies>
</module>

