# Configuration for the OCSSW RESTful Web Services runtime.
# All properties described here can also be passed to the VM as system
# properties using the standard Java
#   -D<property>=<value>
# syntax. In addition, it is possible to use macros of the form
#   ${<property>}
# within a value. Macros will expand to the value of the referred (system)
# property.
#############################################################################

ocsswws.version = 1.0


# The OCSSWWS home directory. Used only if
# (1) this configuration file has been specified by the system property 'ocsswws.config' or
# (2) the system property 'ocsswws.home' has not been specified before.
# In other words, this setting will not overwrite an existing 'ocsswws.home' property.
# Has no default value, must be given as system property if not specified here.

ocsswws.home = .

#The OCSSWWS jobs directory. All jobs will be created under this directory.
ocsswws.jobs.dir = ${ocsswws.home}/jobs

#The OCSSWWS client list file. Clients' IDs and their jobs are saved in this file. When the web server starts, this file
#will be read into a HashMap. The file will be updated each time a new client is added or a new job is created.
ocsswws.clients.fileName = ${ocsswws.home}/clients.txt




