
<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>seadas-contour</symbolicName>
    <version>1.0</version>
    <name>Color Bar</name>

    <description>Color Bar Layer</description>
    <packaging>dir</packaging>

    <vendor>NASA Goddard OBPG</vendor>
    <contactAddress>
        8800 Greenbelt Road, Greenbelt, MD 20771, USA
    </contactAddress>
    <copyright>(C) 2013 by NASA Goddard OBPG</copyright>
    <url>http://seadas.gsfc.nasa.gov</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>

    <categories>Application, Processor</categories>

    <extension point="beam-ui:actions">
        <!--<action>-->
            <!--&lt;!&ndash;<parent>showOverlaysMenu</parent>&ndash;&gt;-->
            <!--<parent>tools</parent>-->
            <!--<id>showContourOverlay</id>-->
            <!--<class>gov.nasa.gsfc.seadas.contour.action.ShowVectorContourOverlayAction</class>-->
            <!--<text>Contour</text>-->
            <!--<toggle>false</toggle>-->
            <!--<shortDescr>Add contour lines</shortDescr>-->
            <!--<description>Add contour lines for the selected image</description>-->
            <!--<context>image</context>-->
            <!--<largeIcon>icons/ContourOverlay22.png</largeIcon>-->
            <!--<helpId>showContourOverlay</helpId>-->
        <!--</action>-->

        <action>
            <parent>tools</parent>
            <id>showColorBarOverlay</id>
            <class>gov.nasa.gsfc.seadas.colorbar.action.ShowColorBarOverlayAction</class>
            <text>Color Bar Layer</text>
            <toggle>true</toggle>
            <!--<mnemonic>G</mnemonic>-->
            <shortDescr>Show/hide colorbar layer</shortDescr>
            <description>Show/hide colorbar overlay for the selected image</description>
            <context>image</context>
            <!--<smallIcon>icons/GraticuleOverlay16.gif</smallIcon>-->
            <largeIcon>icons/ColorbarOverlay22.png</largeIcon>
            <!--<largeIcon>icons/GraticuleOverlay24.gif</largeIcon>-->
            <placeAfter>openViewsMenu</placeAfter>
            <helpId>showGraticuleOverlay</helpId>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>seadas-help</parent>
            <path>doc/help/colorBar.hs</path>
        </helpSet>
    </extension>
</module>