<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>seadas-ocssw</symbolicName>
    <version>7.0</version>

    <name>SeaDAS OCSSW Integration</name>

    <description>
        Integrates the OBPG OCSSW in SeaDAS.
    </description>

    <vendor>NASA Ocean Biology Processing Group</vendor>
    <contactAddress>NASA GSFC, Code 614.2</contactAddress>
    <copyright>(c) copyright - Not sure??</copyright>
    <url>http://oceancolor.gsfc.nasa.gov/seadas</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>seadas-app</module>
    </dependency>

    <categories>System</categories>

    <extension point="beam-ui:actions">
        <action>
            <parent>tools</parent>
            <id>gov.nasa.obpg.seadas.ocssw.CallL2genAction</id>
            <class>gov.nasa.obpg.seadas.ocssw.CallL2genAction</class>
            <text>SeaDAS OCSSW l2gen...</text>
        </action>
    </extension>

</module>
