<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>seadas-processing</symbolicName>
    <version>1.4</version>

    <name>SeaDAS Processing</name>

    <description>
        Integrates the OBPG OCSSW processing software into SeaDAS.
    </description>

    <vendor>NASA Ocean Biology Processing Group</vendor>
    <contactAddress>NASA GSFC, Code 614.2</contactAddress>
    <copyright>(C) 2012 United States Government as represented by the Administrator of the National Aeronautics and Space Administration.</copyright>
    <url>https://oceancolor.gsfc.nasa.gov/seadas</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <changelog>
        <![CDATA[
                Changes in 1.2:<br/>
                Added support for GOCI processing data installation
                Changes in 1.1:<br/>
                Improved input file selection performance
                Improved multi-processors implementation (back-end code and GUI)
                l2bin:
                    added ability to specify a product suite
                    enhanced the selection of the flaguse parameter values
                        flaguse values are correlated to suite selection, outfile
                        name reflects selected product, suite, resolution, and
                        product type
                ocssw installer - added hico mission data installation
                extractor GUI - eliminated lon/lat to pixel translation button. Once
                    all lon/lat values are entered, pixel values are automatically
                    computed
                modis_L1A, modis_GEO, modis_L1B GUIs - eliminated "verbose" flag from
                    the GUI
                l2mapgen, l2brsgen, smigen GUI - displays available products based on
                    the input file
                ]]>
    </changelog>
    <dependency>
        <module>seadas-app</module>
    </dependency>
    <dependency>
        <module>beam-merisl3-reader</module>
    </dependency>


    <categories>Application,Processor</categories>

    <extension point="beam-ui:actions">

        <action>
            <parent>ocprocessing</parent>
            <id>install_ocssw.py</id>
            <placeBefore>extractor</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>Install OC Processors...</text>
            <shortDescr>Install/Update SeaDAS Ocean Color Processing Software</shortDescr>
            <programName>install_ocssw.py</programName>
            <dialogTitle>SeaDAS Processing Software Installer</dialogTitle>
            <xmlFileName>ocssw_installer.xml</xmlFileName>
            <separatorAfter>true</separatorAfter>
        </action>
        <action>
            <parent>ocprocessing</parent>
            <id>extractor</id>
            <placeAfter>install_ocssw.py</placeAfter>
            <placeBefore>modis_L1A.py</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>extractor...</text>
            <shortDescr>Create L1 and L2 Extracts</shortDescr>
            <programName>extractor</programName>
            <dialogTitle>extractor</dialogTitle>
            <xmlFileName>extractor.xml</xmlFileName>
        </action>

        <action>
            <parent>ocprocessing</parent>
            <id>modis_L1A.py</id>
            <placeAfter>extractor</placeAfter>
            <placeBefore>modis_GEO.py</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>modis_L1A...</text>
            <shortDescr>Process MODIS L0 to L1A</shortDescr>
            <programName>modis_L1A.py</programName>
            <dialogTitle>modis_L1A.py Processor</dialogTitle>
            <xmlFileName>modis_L1A.xml</xmlFileName>
        </action>

        <action>
            <parent>ocprocessing</parent>
            <id>modis_GEO.py</id>
            <placeAfter>modis_L1A.py</placeAfter>
            <placeBefore>modis_L1B.py</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>modis_GEO...</text>
            <shortDescr>Process MODIS Geolocation</shortDescr>
            <programName>modis_GEO.py</programName>
            <dialogTitle>modis_GEO.py Processor</dialogTitle>
            <xmlFileName>modis_GEO.xml</xmlFileName>
        </action>

        <action>
            <parent>ocprocessing</parent>
            <id>modis_L1B.py</id>
            <placeAfter>modis_GEO.py</placeAfter>
            <placeBefore>geolocate_viirs</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>modis_L1B...</text>
            <shortDescr>Process MODIS L1A to L1B</shortDescr>
            <programName>modis_L1B.py</programName>
            <dialogTitle>modis_L1B.py Processor</dialogTitle>
            <xmlFileName>modis_L1B.xml</xmlFileName>
        </action>


        <action>
            <parent>ocprocessing</parent>
            <id>geolocate_viirs</id>
            <placeAfter>modis_L1B.py</placeAfter>
            <placeBefore>calibrate_viirs</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>geolocate_viirs...</text>
            <shortDescr>Process VIIRS Geolocation</shortDescr>
            <programName>geolocate_viirs</programName>
            <dialogTitle>geolocate_viirs</dialogTitle>
            <xmlFileName>geolocate_viirs.xml</xmlFileName>
        </action>



        <action>
            <parent>ocprocessing</parent>
            <id>calibrate_viirs</id>
            <placeAfter>geolocate_viirs</placeAfter>
            <placeBefore>l1bgen</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>calibrate_viirs...</text>
            <shortDescr>Process VIIRS L1A to L1B</shortDescr>
            <programName>calibrate_viirs</programName>
            <dialogTitle>calibrate_viirs</dialogTitle>
            <xmlFileName>calibrate_viirs.xml</xmlFileName>
        </action>

        <action>
            <parent>ocprocessing</parent>
            <id>l1bgen</id>
            <placeAfter>calibrate_viirs</placeAfter>
            <placeBefore>l1brsgen</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>l1bgen...</text>
            <shortDescr>Create a generic L1B file</shortDescr>
            <programName>l1bgen</programName>
            <dialogTitle>l1bgen Processor</dialogTitle>
            <xmlFileName>l1bgen.xml</xmlFileName>
        </action>
        <action>
            <parent>ocprocessing</parent>
            <id>l1brsgen</id>
            <placeAfter>l1bgen</placeAfter>
            <placeBefore>l1mapgen</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>l1brsgen...</text>
            <shortDescr>Create a True Color Browse Image</shortDescr>
            <programName>l1brsgen</programName>
            <dialogTitle>l1brsgen</dialogTitle>
            <xmlFileName>l1brsgen.xml</xmlFileName>
        </action>

        <action>
            <parent>ocprocessing</parent>
            <id>l1mapgen</id>
            <placeAfter>l1brsgen</placeAfter>
            <placeBefore>l2gen</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>l1mapgen...</text>
            <shortDescr>Create a True Color Mapped Image</shortDescr>
            <programName>l1mapgen</programName>
            <dialogTitle>l1mapgen</dialogTitle>
            <xmlFileName>l1mapgen.xml</xmlFileName>
        </action>

        <action>
            <parent>ocprocessing</parent>
            <id>l2gen</id>
            <placeAfter>l1mapgen</placeAfter>
            <placeBefore>l2gen_aquarius</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.l2gen.userInterface.L2genAction</class>
            <text>l2gen...</text>
            <shortDescr>Process a L1 file to L2</shortDescr>
            <shortDescr>L2 File Generation</shortDescr>
            <programName>l2gen</programName>
            <dialogTitle>l2gen</dialogTitle>
            <xmlFileName>l2gen.xml</xmlFileName>

        </action>

        <action>
            <parent>ocprocessing</parent>
            <id>l2gen_aquarius</id>
            <placeAfter>l2gen</placeAfter>
            <placeBefore>l2brsgen</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.l2gen.userInterface.L2genAquariusAction</class>
            <text>l2gen_aquarius...</text>
            <shortDescr>Process an Aquarius L1 file to L2</shortDescr>
            <shortDescr>Aquarius L2 File Generation</shortDescr>
            <programName>l2gen_aquarius</programName>
            <dialogTitle>l2gen_aquarius</dialogTitle>
            <xmlFileName>l2gen_aquarius.xml</xmlFileName>

        </action>


        <action>
            <parent>ocprocessing</parent>
            <id>l2brsgen</id>
            <placeAfter>l2gen</placeAfter>
            <placeBefore>l2mapgen</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>l2brsgen...</text>
            <shortDescr>Create a L2 Browse Image</shortDescr>
            <programName>l2brsgen</programName>
            <dialogTitle>l2brsgen</dialogTitle>
            <xmlFileName>l2brsgen.xml</xmlFileName>
        </action>

        <action>
            <parent>ocprocessing</parent>
            <id>l2mapgen</id>
            <placeAfter>l2brsgen</placeAfter>
            <placeBefore>l2bin</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>l2mapgen...</text>
            <shortDescr>Create a L2 Mapped Image</shortDescr>
            <programName>l2mapgen</programName>
            <dialogTitle>l2mapgen</dialogTitle>
            <xmlFileName>l2mapgen.xml</xmlFileName>
        </action>

        <action>
            <parent>ocprocessing</parent>
            <id>l2bin</id>
            <placeAfter>l2mapgen</placeAfter>
            <placeBefore>l3bin</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>l2bin...</text>
            <shortDescr>Create a L3 bin file from L2 file(s)</shortDescr>
            <programName>l2bin</programName>
            <dialogTitle>l2bin</dialogTitle>
            <multiIFile>true</multiIFile>
            <xmlFileName>l2bin.xml</xmlFileName>
        </action>
        <action>
             <parent>ocprocessing</parent>
             <id>l2bin_aquarius</id>
             <placeAfter>l2bin</placeAfter>
             <placeBefore>l3bin</placeBefore>
             <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
             <text>l2bin_aquarius...</text>
             <shortDescr>Create a L3 bin file from Aquarius L2 file(s)</shortDescr>
             <programName>l2bin_aquarius</programName>
             <dialogTitle>l2bin_aquarius</dialogTitle>
             <multiIFile>true</multiIFile>
             <xmlFileName>l2bin_aquarius.xml</xmlFileName>
         </action>
        <action>
            <parent>ocprocessing</parent>
            <id>l3bin</id>
            <placeAfter>l2bin_aquarius</placeAfter>
            <placeBefore>smigen</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>l3bin...</text>
            <shortDescr>Create a L3 bin file from L3 file(s)</shortDescr>
            <programName>l3bin</programName>
            <dialogTitle>l3bin</dialogTitle>
            <multiIFile>true</multiIFile>
            <xmlFileName>l3bin.xml</xmlFileName>
        </action>

        <action>
            <parent>ocprocessing</parent>
            <id>l3gen</id>
            <placeAfter>l3bin</placeAfter>
            <placeBefore>l3mapgen</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.l2gen.userInterface.L3genAction</class>
            <text>l3gen...</text>
            <shortDescr>Process l3bin</shortDescr>
            <shortDescr>Process l3bin</shortDescr>
            <programName>l3gen</programName>
            <dialogTitle>l3gen</dialogTitle>
            <xmlFileName>l2gen.xml</xmlFileName>

        </action>
        <action>
            <parent>ocprocessing</parent>
            <id>l3mapgen</id>
            <placeAfter>l3gen</placeAfter>
            <placeBefore>smigen</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>l3mapgen...</text>
            <shortDescr>Create a L3 Mapped Image</shortDescr>
            <programName>l3mapgen</programName>
            <dialogTitle>l3mapgen</dialogTitle>
            <xmlFileName>l3mapgen.xml</xmlFileName>
        </action>

        <action>
            <parent>ocprocessing</parent>
            <id>smigen</id>
            <placeAfter>l3mapgen</placeAfter>
            <placeBefore>seadas_processor.py</placeBefore>
            <class>gov.nasa.gsfc.seadas.processing.common.CallCloProgramAction</class>
            <text>smigen...</text>
            <shortDescr>Create a L3 map file</shortDescr>
            <programName>smigen</programName>
            <dialogTitle>smigen</dialogTitle>
            <xmlFileName>smigen.xml</xmlFileName>
        </action>
        <action>
             <parent>ocprocessing</parent>
            <id>l3bindump</id>
            <!--<placeBefore>extractor</placeBefore>-->
            <placeAfter>smigen</placeAfter>
            <class>gov.nasa.gsfc.seadas.processing.common.CallL3BinDumpAction</class>
            <text>l3bindump...</text>
            <shortDescr>Dump an XML file of the input options</shortDescr>
            <programName>l3bindump</programName>
            <dialogTitle>l3bindump</dialogTitle>
            <xmlFileName>l3bindump.xml</xmlFileName>
            <separatorBefore>false</separatorBefore>
        </action>
        <action>
            <parent>ocprocessing</parent>
            <id>multilevel_processor.py</id>
            <!--<placeBefore>extractor</placeBefore>-->
            <placeAfter>l3bindump</placeAfter>
            <class>gov.nasa.gsfc.seadas.processing.processor.MultilevelProcessorAction</class>
            <text>multilevel_processor...</text>
            <shortDescr>Process a file through many levels</shortDescr>
            <programName>multilevel_processor.py</programName>
            <dialogTitle>multilevel_processor.py</dialogTitle>
            <xmlFileName>multilevel_processor.xml</xmlFileName>
            <separatorBefore>true</separatorBefore>
        </action>

    </extension>
    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>seadas-help</parent>
            <path>doc/help/seadas-processing.hs</path>
        </helpSet>
    </extension>
</module>
