<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>seadas-ocsswwsclient</symbolicName>
    <name>SeaDAS Help</name>
    <version>7.1</version>
    <packaging>dir</packaging>


    <description>OCSSW Web Services Client</description>

    <vendor>NASA/GSFC Ocean Biology Processing Group</vendor>
    <url>http://seadas.gsfc.nasa.gov/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[

        ]]>
    </changelog>

    <categories>Application</categories>

</module>