<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>seadas-watermask</symbolicName>
    <version>1.2.2</version>
    <name>Land-Water mask</name>

    <description>Accurate Land/Water-mask based on shape files.</description>
    <packaging>dir</packaging>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2011 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
            Fix for lon/lat to x/y conversion
        ]]>
    </changelog>

	<dependency>
        <module>beam-gpf</module>
    </dependency>
	 <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor</categories>

    <!--<extension point="beam-ui:actions">-->
        <!--&lt;!&ndash;<action>&ndash;&gt;-->
            <!--&lt;!&ndash;<id>watermask</id>&ndash;&gt;-->
            <!--&lt;!&ndash;<class>org.esa.beam.visat.actions.DefaultOperatorAction</class>&ndash;&gt;-->
            <!--&lt;!&ndash;<operatorName>LandWaterMask</operatorName>&ndash;&gt;-->
            <!--&lt;!&ndash;<dialogTitle>Accurate Land/Water-mask</dialogTitle>&ndash;&gt;-->
            <!--&lt;!&ndash;<targetProductNameSuffix>_watermask</targetProductNameSuffix>&ndash;&gt;-->
            <!--&lt;!&ndash;<text>Land/Water-mask...</text>&ndash;&gt;-->
            <!--&lt;!&ndash;<shortDescr>Accurate Land/Water-mask based on shape files.</shortDescr>&ndash;&gt;-->
            <!--&lt;!&ndash;<mnemonic/>&ndash;&gt;-->
            <!--&lt;!&ndash;<parent>tool</parent>&ndash;&gt;-->
            <!--&lt;!&ndash;<helpID>watermask</helpID>&ndash;&gt;-->
            <!--&lt;!&ndash;<placeAfter/>&ndash;&gt;-->
        <!--&lt;!&ndash;</action>&ndash;&gt;-->

        <!--&lt;!&ndash;<action>&ndash;&gt;-->
            <!--&lt;!&ndash;<parent>view</parent>&ndash;&gt;-->
            <!--&lt;!&ndash;<id>Auxiliary Masks</id>&ndash;&gt;-->
            <!--&lt;!&ndash;<class>org.esa.beam.watermask.ui.WaterMaskVPI</class>&ndash;&gt;-->
            <!--&lt;!&ndash;<placeAfter>showGraticuleOverlay</placeAfter>&ndash;&gt;-->
            <!--&lt;!&ndash;<text>Show Landmask/Coastline</text>&ndash;&gt;-->
            <!--&lt;!&ndash;<toggle>false</toggle>&ndash;&gt;-->
            <!--&lt;!&ndash;<separatorAfter>false</separatorAfter>&ndash;&gt;-->
            <!--&lt;!&ndash;<mnemonic>W</mnemonic>&ndash;&gt;-->
            <!--&lt;!&ndash;<shortDescr>Create Landmask/coastline</shortDescr>&ndash;&gt;-->
            <!--&lt;!&ndash;<description>Create Landmask/coastline masks</description>&ndash;&gt;-->
            <!--&lt;!&ndash;<context>image</context>&ndash;&gt;-->
            <!--&lt;!&ndash;<smallIcon>icons/GraticuleOverlay16.gif</smallIcon>&ndash;&gt;-->
            <!--&lt;!&ndash;<largeIcon>icons/GraticuleOverlay24.gif</largeIcon>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<helpId>showGraticuleOverlay</helpId>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</action>&ndash;&gt;-->
    <!--</extension>-->

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>seadas-help</parent>
            <path>doc/help/coastlineLandMasks.hs</path>
        </helpSet>
    </extension>
</module>
