<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>seadas-contour</symbolicName>
    <version>2.0</version>
    <name>Contour</name>

    <description>Contour</description>
    <packaging>dir</packaging>

    <vendor>NASA Goddard OBPG</vendor>
    <contactAddress>
        8800 Greenbelt Road, Greenbelt, MD 20771, USA
    </contactAddress>
    <copyright>(C) 2013 by NASA Goddard OBPG</copyright>
    <url>https://seadas.gsfc.nasa.gov</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>false</optional>
    </dependency>

    <categories>Application, Processor</categories>

    <extension point="beam-ui:actions">
        <action>
            <parent>layers</parent>
            <id>showContourOverlay</id>
            <class>gov.nasa.gsfc.seadas.contour.action.ShowVectorContourOverlayAction</class>
            <text>Contour</text>
            <toggle>false</toggle>
            <shortDescr>Add contour lines</shortDescr>
            <description>Add contour lines for the selected image</description>
            <largeIcon>icons/ContourOverlay22.png</largeIcon>
            <context>image</context>
            <placeAfter>showGraticuleOverlay</placeAfter>
            <helpId>showContourOverlay</helpId>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>seadas-help</parent>
            <path>doc/help/contourLines.hs</path>
        </helpSet>
    </extension>
</module>
