ocsswrest.version = 1.0
baseUriPortNumber = 6400
ocsswroot = /accounts/aabduraz/ocssw
serverWorkingDirectory = /accounts/aabduraz/SeaDAS/ocsswserver/intermediateFiles
keepIntermediateFilesOnServer=false
processInputStreamPortNumber=6402
processErrorStreamPortNumber=6403
clientfilePathIsValidOnServer=false